@import "reset.css";
@import "footer.css";
@import "header.css";
@import "main.css";

.media-info-msg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  background-color: blueviolet;
  color: white;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 600px) and (min-width: 400px) and (min-height: 600px) {
  .media-info-msg {
    opacity: 0;
  }
}
